<p>
  <strong>Name:</strong>
  <%= @caution.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @caution.amount %>
</p>

<%= link_to 'Edit', edit_caution_path(@caution) %> |
<%= link_to 'Back', cautions_path %>
